h1{
    font-size: 50px;
}
.Name{color: chartreuse;
}
p{
    font-size: 20px;
}
section{
    display: flex;
}
#Iamge1{
    height: 400px;
    width: 400px;
}
.half width {
    width: 50%;
    padding-left: 20%;
    padding-right: 10px;

}

.half-width img{
    width: 100%;
    padding-top: 20%;
  padding-left: 70% ;
}
    .link-buttom {
        text-decoration: none;
        background-color: orangered;
        padding: 5px 20px;
        border-radius: 5px;
        
    }
section{
    display: flex;
}
.half width2 img{
    width: 100%;
    padding-top: 50%;
}
#Image{
    height: 70%;
    width: 70%;
}
.Link-buttom2{
    text-decoration: none;
    background-color: orangered;
    padding: 5px 20px;
    border-radius: 5px;
}
.half width2{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;}
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }